name: Build and Push Docker Image

on:
  push:
    branches: [ main ]
    paths:
      - 'Dockerfile'
  create:
    tags: true
  workflow_dispatch:
    inputs:
      tailscale_branch:
        description: 'Tailscale branch to build (e.g., main, dev)'
        required: true
        default: 'main'
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: runyf/derper
          tags: |
            # 规则一：如果是推送到 main 分支，生成 'latest' 标签
            type=raw,value=latest,enable='{{ github.event_name == ''push'' && github.ref == ''refs/heads/main'' }}'
            # 规则二：如果是创建标签事件，直接使用 Git 标签作为 Docker 标签
            type=ref,event=tag

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            TAILSCALE_BRANCH=${{ github.event.inputs.tailscale_branch || 'main' }}